.containerj {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.select {
    position: relative;
    display: flex;
    width: 18em;
    height: 2em;
    line-height: 3;
    background: #3c607c;
    color: lightcyan;
    overflow: hidden;
    border-radius: .25em;
  }