/* 
.schedule {
    top: 180px;
    width:250px; 
    right:10px; 
    bottom: 500px;
    border-style: solid;
    position:absolute;
}

.notices{
    top: 280px;
    width: 250px; 
    right: 10px; 
    bottom: 0px;
    border-style: solid;
    position: absolute;
}

.functions {
    top: 200px;
    width: 800px; 
    right: 300px; 
    bottom: 0px;
    position:absolute;
}

.functionButtons {
        background-color: rgb(37, 37, 114);
        font-size: 20px;
        border: none;
        color: white;
        padding: 30px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
}

.functionButtons:hover {
    opacity: 0.5
} */
