.container1 {
    font-family: 'Times New Roman', Times, serif;
}
.head1 {
    font-size: 40px;
    font-weight: bolder;
}
.head2 {
    font-size: x-large;
    font-weight: 500;
}
.head3 {
    font-size: xx-large;
    font-weight: bold;
}
.acc {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
}

.galleryPics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .head1 {
        font-size: 26px;
        font-weight: bold;
    }
    .head2 {
        font-size: 16;
        font-weight: 100;
    }
    .head3 {
        font-size: 20;
        font-weight: 200;
    }
    .slider {
       display: none;
    }
}


