.search-container input {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  width: 920px;
  color: white;
  background: rgb(19, 52, 73);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

input:hover {
  background-color: #022140;
}
