.parentdiv12:hover,
.parentdiv13:hover,
.parentdiv9:hover,
.parentdiv10:hover,
.parentdiv11:hover {
  transform: scale(1.14);
}

.functionButtons:hover {
  opacity: 0.9;
}

.parentdiv12 {
  height: 350px;
  background-image: url('../../assets/resumeBuilder.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv12 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv13 {
  height: 350px;
  background-image: url('../../assets/progressReport.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv13 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv9 {
  height: 350px;
  background-image: url('../../assets/testImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv9 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv10 {
  height: 350px;
  background-image: url('../../assets/viewJobImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv10 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv11 {
  height: 350px;
  background-image: url('../../assets/viewFeedback.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv11 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}
