// .parentdiv12:hover,
// .parentdiv13:hover,
// .parentdiv14:hover,
// .parentdiv10:hover,
// .parentdiv11:hover {
//   transform: scale(1.14);
// }

// .functionButtons:hover {
//   opacity: 0.9;
// }

// .parentdiv12 {
//   height: 350px;
//   background-image: url('../../assets/resumeBuilder.png');
//   background-size: cover;
//   background-repeat: no-repeat;
//   margin: 30px auto;
//   width: 250px;
//   height: 350px;
//   border-radius: 40px;
//   box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
//     -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
//   cursor: pointer;
//   transition: 0.4s;
// }
// .parentdiv12 .childdiv {
//   margin: 10px;
//   padding-top: 250px;
//   text-align: center;
// }

// .parentdiv13 {
//   height: 350px;
//   background-image: url('../../assets/progressReport.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   margin: 30px auto;
//   width: 250px;
//   height: 350px;
//   border-radius: 40px;
//   box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
//     -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
//   cursor: pointer;
//   transition: 0.4s;
// }
// .parentdiv13 .childdiv {
//   margin: 10px;
//   padding-top: 250px;
//   text-align: center;
// }

// .parentdiv14 {
//   height: 350px;
//   background-image: url('../../assets/testImage.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   margin: 30px auto;
//   width: 250px;
//   height: 350px;
//   border-radius: 40px;
//   box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
//     -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
//   cursor: pointer;
//   transition: 0.4s;
// }
// .parentdiv14 .childdiv {
//   margin: 10px;
//   padding-top: 250px;
//   text-align: center;
// }

// .parentdiv10 {
//   height: 350px;
//   background-image: url('../../assets/viewJobImage.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   margin: 30px auto;
//   width: 250px;
//   height: 350px;
//   border-radius: 40px;
//   box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
//     -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
//   cursor: pointer;
//   transition: 0.4s;
// }
// .parentdiv10 .childdiv {
//   margin: 10px;
//   padding-top: 250px;
//   text-align: center;
// }

// .parentdiv11 {
//   height: 350px;
//   background-image: url('../../assets/viewFeedback.png');
//   background-size: cover;
//   background-repeat: no-repeat;
//   margin: 30px auto;
//   width: 250px;
//   height: 350px;
//   border-radius: 40px;
//   box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
//     -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
//   cursor: pointer;
//   transition: 0.4s;
// }
// .parentdiv11 .childdiv {
//   margin: 10px;
//   padding-top: 250px;
//   text-align: center;
// }

.schedule {
  display: invisible;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mycard {
  margin: 30px auto;
  width: 250px;
  height: 250px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.mycard .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.mycard .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.mycard .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: -150px;
  height: 40px;
}

.mycard:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
