
 .functionButtons {
    background-image: url('../../assets/button_image.jpeg');
    font-size: 20px;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.functionButtons:hover {
    opacity: 0.6
}

.parentdiv {
    height: 400px;
    background-color: rgb(151, 173, 151);
}

.parentdiv .childdiv {
    margin: 10px;
    padding-top: 250px;
    text-align: center;
}