 .functionButtons {
    background-image: url('../../assets/button_image.jpeg');
    font-size: 20px;
    border: none;
    color: white;
    padding: 30px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.functionButtons:hover {
    opacity: 0.6
}

/* .backcolor {
    background-color: rgb(123, 184, 184);
} */