.main{
    /* border: 2px solid red; */
    min-height: 70vh;
    padding: 7px;
    margin-top: 0px;
    margin-bottom: 10px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row; */
}
 .maincard{
     margin: 20px;
     /* min-width: 100%; */
 }

 .branding{
     font-size: 35px;
     /* font-weight: bold; */
     margin-bottom: 30px;
 }