.active {
  color: red;
}

.container-s {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.filelist-form {
  height: 100%;
  width: 1050px;
}

.file-form {
  background-color: rgb(219, 236, 236);
}

.filestrip-header {
  max-width: 1000px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.filestrip-header__filename {
  flex: 1 1 150px;
}

.filestrip-header__subject {
  display: none;
  text-align: center;
}

.filestrip-header__dateuploaded {
  display: none;
  text-align: center;
}

.filestrip-header__uploadedby {
  display: none;
  text-align: center;
}

.filestrip-header__action {
  flex: 1 1 50px;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .filestrip-header__subject {
    display: block;
    flex: 1 1 50px;
  }

  .filestrip-header__dateuploaded {
    display: block;
    flex: 1 1 50px;
  }

  .filestrip-header__uploadedby {
    display: block;
    flex: 1 1 50px;
  }
}
