.parentdiv {
  height: 350px;
  // background-image: url('../../assets/addResources.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  // border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  position: relative;

  .card-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #2196f3;
    opacity: 0.8;
    transition: 0.3s;
  }

  &:hover {
    .card-overlay {
      right: 100%;
    }
  }

  .functionButtons {
    position: relative;
    background-color: #022140;
    font-size: 16px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 2px;
    border-radius: 5px;
    cursor: pointer;
  }

  .childdiv {
    margin: 10px;
    padding-top: 250px;
    text-align: center;
  }
}

.parentdiv1 {
  background-image: url("../../assets/addResources.jpg");
  .card-overlay {
    background-color: seagreen;
  }
}

.parentdiv2 {
  background-image: url("../../assets/viewProfile.jpg");
  .card-overlay {
    background-color: peru;
  }
}

.parentdiv3 {
  background-image: url("../../assets/AddAnnouncements.jpg");
  .card-overlay {
    background-color: purple;
  }
}

.parentdiv4 {
  background-image: url("../../assets/jobImage.jpg");
  .card-overlay {
    background-color: salmon;
  }
}

.parentdiv5 {
  background-image: url("../../assets/testImage.jpg");
  .card-overlay {
    background-color: peru;
  }
}

.parentdiv6 {
  background-image: url("../../assets/external-resources.png");
  .card-overlay {
    background-color: seagreen;
  }
}

.parentdiv7 {
  background-image: url("../../assets/viewJobImage.jpg");
  .card-overlay {
    background-color: salmon;
  }
}

.parentdiv8 {
  background-image: url("../../assets/viewResources.jpg");
  .card-overlay {
    background-color: purple;
  }
}

.parentdiv9 {
  background-image: url("../../assets/ViewAnnouncements.jpg");
  .card-overlay {
    background-color: seagreen;
  }
}

.schedule {
  visibility: hidden;
}
