.functionButtons {
  background-image: url("../../assets/button_image.jpeg");
  font-size: 16px;
  border: none;
  color: white;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.functionButtons:hover {
  opacity: 0.9;
}

.parentdiv1 {
  height: 350px;
  background-image: url("../../assets/addResources.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.parentdiv1:hover,
.parentdiv2:hover,
.parentdiv3:hover,
.parentdiv4:hover,
.parentdiv5:hover,
.parentdiv6:hover,
.parentdiv7:hover,
.parentdiv8:hover,
.parentdiv9:hover {
  transform: scale(1.14);
}

.parentdiv1 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv2 {
  height: 350px;
  background-image: url("../../assets/viewProfile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv2 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv3 {
  height: 350px;
  background-image: url("../../assets/AddAnnouncements.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv3 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv4 {
  height: 350px;
  background-image: url("../../assets/jobImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv4 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv5 {
  height: 350px;
  /* background-color: rgb(47, 58, 204); */
  background-image: url("../../assets/testImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv5 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv6 {
  height: 350px;
  background-image: url("../../assets/external-resources.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv6 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv7 {
  height: 350px;
  background-image: url("../../assets/viewJobImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv7 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv8 {
  height: 350px;
  background-image: url("../../assets/viewResources.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv8 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}

.parentdiv9 {
  height: 350px;
  background-image: url("../../assets/ViewAnnouncements.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
  width: 250px;
  height: 350px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.parentdiv9 .childdiv {
  margin: 10px;
  padding-top: 250px;
  text-align: center;
}
