<<<<<<< HEAD
=======
.slider {
  box-sizing: content-box;
  border-radius: 50px;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px 0px rgba(red, green, blue, alpha);
  border-style: hidden;
}
>>>>>>> c0b2211b075a50452c6a56420690b1736918839b
